
<!-- <router-outlet></router-outlet>  -->
<app-searchdumb (sendToParent)="onReceiving($event)"></app-searchdumb>
<h2>Movies from IMDB</h2>
    <ul>
        <li *ngFor="let movie of movieList.results">
            {{ movie.id}},{{movie.original_language}},{{movie.title}},{{movie.release_date}}
        <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}">
        <input type="text" [(ngModel)]="movie.comments"><a><button (click)=gonsave(movie) >Add {{movie.title}}</button></a>
        {{result}}
        <!-- <app-addbtn [movie]=movie></app-addbtn> -->
        </li>
    </ul>
    <!-- <router-outlet></router-outlet> -->
